/* Body */
body {
    background-color: #fff; 
    position: relative;
    min-height: 100vh;
}

h1 {
    font-size: 36px;
    font-family: "Times New Roman", Times, serif;
    color: #007bff; 
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    color: #2d6987;
    margin-bottom: 16px;
}

table {
    padding: 30px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

#custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(116, 117, 146, 0.8); 
    color: white;
    padding: 10px 20px;
}

.navbar-logo img {
    height: 40px; 
}

.navbar-links {
    list-style: none;
    display: flex;
    margin-left: auto; 
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links li:last-child {
    margin-right: 0;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #ccc; 
}

.navbar-links .active {
    color: #fff; 
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative; /* Ensure container is positioned relative for mask */
    z-index: 1; /* Ensure content is above the mask */
}

.landscape-section {
    padding: 20px;
    position: relative;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    overflow: hidden; /* Ensure content doesn't spill outside the section */
}

.landscape-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1;
    pointer-events: none; 
} 

.news-item {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 12px;
    background-color: #f9f9f9;
}

.news-item h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 8px;
}

.news-item p {
    font-size: 16px;
    color: #666;
}
